html, body, h1, h2, h3, p, ul, li, a {
	font-size: 100%;
	font: inherit;
	padding: 0;
	border: 0;
	margin: 0;
}
h1 {
	font-size: 30px;
	color: #056881;
	text-indent: 5px;
}
h2 {
	font-family: 'Trebuchet MS', sans-serif;
	font-size: 18px;
	text-transform: uppercase;
	color: #056881;
	padding: 10px 0 5px 0;
}
h3 {
	font-weight: bold;
	padding: 3px 0 0 0;
}
body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	margin: 0 20px 0 20px;
}
p {
	padding: 0;
	text-decoration: none;
}
a:link {
	color: #056881;
}
ul li {
	list-style: square inside;
	margin: 0 0 0 10px;
}
footer {
	font-weight: bold;
	color: #056881;
	text-align: center;
  padding-top: 5px;
	background-color: #bcebf7;
	margin-top: 7px;
}
aside {
	font-family: 'Trebuchet MS', sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	background-color: #66abbc;
	padding: 3px 7px 3px 7px;
	margin: 5px 0 5px 0;
	float: right;
	margin-left: 10px;
	padding: 0 0 -10px 0;
	}
}
.header {
	font-family: 'Trebuchet MS', sans-serif;
	background-color: #bcebf7;
	padding-bottom: 45px;
}
.contactinfo {
	font-size: 14px;
	text-indent: 85px;
	float: right;
	margin-right: 5px;
}
.bodycopy {
	clear: both;
}
.jobtitle {
	font-family: 'Trebuchet MS', sans-serif;
	font-size: 16px;
	font-weight: bold;
	padding-left: 10px;
}
.jobtime {
	font-family: 'Trebuchet MS', sans-serif;
	font-size: 16px;
	font-weight: bold;
	float: right;
	padding-right: 10px;
}
.jobcompany {
	font-family: 'Trebuchet MS', sans-serif;
	font-size: 16px;
	padding-left: 10px;
	clear: right;
}
.jobheaderbox {
	background-color: #bcebf7;
	padding: 5px 0 5px 0;
	margin: 5px 0 0 0;
	clear: both;
}
.chart {
	text-align: left;
	padding: 5px 10px 5px 0;
	float: left;
}
.shadow {
	box-shadow: 2px 2px 3px #056881;
}
